{% block header %}
    <header class="header">
        <div class="container-xl">
            <nav>
                <a href="{{ path('home') }}" class="logo">
                    {# <img src="{{ asset('images/logo.svg') }}" alt="Logo">  #}
                    AnimaLife
                </a>

                
                <div class="nav-wrapper flex items-center justify-between w-full closed" id="nav-wrapper">
                    <ul class="nav">
                    {% if app.user and app.user.roleId == 2 %}
                        {# header for connected doctors #}
                        <li>
                            <a class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li>
                            <a class="{{ app.request.attributes.get('_route') == 'user_account' ? 'active' : '' }}" href="{{ path('user_account') }}">Mes consultations</a>
                        </li>
                        <li>
                            <a class="{{ app.request.attributes.get('_route') == 'user_edit' ? 'active' : '' }}" href="{{ path('user_edit') }}">Mes reglages</a>
                        </li>
                    {% else %}
                        {# header for connected & non-connected users #}
                        <li>
                            <a class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li>
                            <a class="{{ app.request.attributes.get('_route') == 'doctors' ? 'active' : '' }}" href="{{ path('doctors') }}">Tous les véterinaires</a>
                        </li>
                        <li>
                            <a class="{{ app.request.attributes.get('_route') == 'about' ? 'active' : '' }}" href="{{ path('about') }}">À propos de nous</a>
                        </li>
                        <li>
                            <a class="{{ app.request.attributes.get('_route') == 'urgency' ? 'active' : '' }}" href="{{ path('urgency') }}" class="urgency">Urgence</a>
                        </li>
                    {% endif %}
                    </ul>
                    <div class="btn-wrapper flex gap-2">
                        {% if app.user %}
                            <a href="{{ path('user_account') }}" class="button">Mon compte</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="button">Se connecter</a>
                        {% endif %}

                        {% if app.user and app.user.roleId == 2 %}
                            <a href="/logout" class="button outline">Me deconnecter</a>
                        {% else %}
                            <a href="{{ path('vet_register') }}" class="button outline">Vous êtes vétérinaire ?</a>
                        {% endif %}
                    </div>
                </div>

                <div class="burger" id="burger">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
            </nav>
        </div>
    </header>
    {# {{ dump(app.user) }} #}
{% endblock %}
