{% block header %}
    <header class="header">
        <div class="container-xl">
            <nav>
                <a href="{{ path('home') }}" class="logo">
                    {# <img src="{{ asset('images/logo.svg') }}" alt="Logo">  #}
                    AnimaLife
                </a>
                <ul class="nav">
                    <li>
                        <a class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li>
                        <a class="{{ app.request.attributes.get('_route') == 'doctors' ? 'active' : '' }}" href="{{ path('doctors') }}">Tous les véterinaires</a>
                    </li>
                    <li>
                        <a href="{{ path('doctors') }}">À propos de nous</a>
                    </li>
                    <li>
                        <a href="{{ path('doctors') }}" class="urgency">Urgence</a>
                    </li>
                </ul>
                <div class="flex gap-2">
                {# {% if app.user and app.user.roleId == 1 %} #}
                {% if app.user %}
                    <a href="{{ path('user_account') }}" class="button">Mon compte</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="button">Se connecter</a>
                {% endif %}
                    <a href="{{ path('vet_register') }}" class="button outline">Vous êtes vétérinaire ?</a>
                </div>
            </nav>
        </div>
    </header>
    {# {{ dump(app.user) }} #}
{% endblock %}
