{% extends 'base.html.twig' %}

{% block title %}Modifier {{ animal.name }} {% endblock %}

{% block body %}
<div class="section" id="update_animal">
    <div class="container container-form">
        <div class="flex justify-between mb-10 items-center gap-3">
            <h3>Modifier la fiche de {{ animal.name }}</h3>
            <a href="{{ path('delete_animal', {'id': animal.id}) }}" class="button outline" type="submit">
                Supprimer l'animal
            </a>
        </div>
        
        <div class="form-wrapper flex">

            {{ form_start(form) }}

                {{ form_row(form.name) }}
                {{ form_row(form.typeId) }}
                {{ form_row(form.imagePath) }}
                {{ form_row(form.dateBirth) }}
                {{ form_row(form.sex) }}
                {{ form_row(form.isSterilized) }}
                {{ form_row(form.allergy) }}
                {{ form_row(form.additionalInfo) }}
                {# {{ form_row(form.vaccinations) }} #}
                <button class="button" type="submit">
                    Sauvegarder
                </button>                

            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
