{% extends 'base.html.twig' %}

{% block title %}Prendre RDV chez {% endblock %}

{% block body %}
<div class="section bg-light-grey" id="appointment">
    <div class="container">
        <h3>Rendez-vous pour qui ?</h3>
        <div class="animals-wrapper">
            {% if animals %}
                {% for animal in animals %}
                    <div role="button" tabindex="0" class="animal-card">
                        <input id="{{ animal.id }}" type="radio" name="animalId" value="{{ animal.id }}" required>
                        <label for="{{ animal.id }}"></label>
                        <img src="{{ animal.imagePath ? animal.imagePath : asset('images/placeholder.png') }}"  alt="Image de {{ animal.name }}">
                        <div class="animal-card__text">
                            <h4 class="mb-1">{{ animal.name }}</h4>
                            <p>{{ animal.typeName }}, {{ animal.sex == "male" ? "Mâle" : "Femelle" }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h4>Aucun animal enregistré</h4>
            {% endif %}
        </div>
        <a href="{{ path('create_animal') }}" class="button outline">Ajouter un nouvel animal</a>
    </div>

    <div class="container py-10">
        <h3>Créneaux disponibles</h3>
        <div class="appointments-wrapper">
            <div class="date-wrapper">
                <div class="date">
                    <p>{{ "now"|date_modify("+1 day")|date("l") }}</p>
                    <p>{{"now"|date_modify("+1 day")|date("d M")}}</p>
                </div>
                <div class="appointments">
                    <div class="appointment" role="button" tabindex="0">
                        <input id="a" type="radio" name="appointmentId" value="a" required>
                        <label for="a"></label>
                        14:50
                    </div>
                    <div class="appointment" role="button" tabindex="0">
                        <input id="b" type="radio" name="appointmentId" value="b" required>
                        <label for="b"></label>
                        15:30
                    </div>
                    <div class="appointment" role="button" tabindex="0">
                        <input id="c" type="radio" name="appointmentId" value="c" required>
                        <label for="c"></label>
                        15:50
                    </div>
                    <div class="appointment" role="button" tabindex="0">
                        <input id="d" type="radio" name="appointmentId" value="d" required>
                        <label for="d"></label>
                        18:30
                    </div>
                </div>
            </div>

            <div class="date-wrapper">
                <div class="date">
                    <p>{{ "now"|date_modify("+2 day")|date("l") }}</p>
                    <p>{{"now"|date_modify("+2 day")|date("d M")}}</p>
                </div>
                <div class="appointments">
                    <div class="appointment" role="button" tabindex="0">
                        <input id="e" type="radio" name="appointmentId" value="e" required>
                        <label for="e"></label>
                        8:30
                    </div>
                    <div class="appointment" role="button" tabindex="0">
                        <input id="f" type="radio" name="appointmentId" value="f" required>
                        <label for="f"></label>
                        10:40
                    </div>
                    <div class="appointment" role="button" tabindex="0">
                        <input id="g" type="radio" name="appointmentId" value="g" required>
                        <label for="g"></label>
                        11:00
                    </div>
                    <div class="appointment" role="button" tabindex="0">
                        <input id="i" type="radio" name="appointmentId" value="i" required>
                        <label for="i"></label>
                        14:00
                    </div>
                    <div class="appointment" role="button" tabindex="0">
                        <input id="j" type="radio" name="appointmentId" value="j" required>
                        <label for="j"></label>
                        14:20
                    </div>
                    <div class="appointment" role="button" tabindex="0">
                        <input id="k" type="radio" name="appointmentId" value="k" required>
                        <label for="k"></label>
                        17:30
                    </div>
                    <div class="appointment" role="button" tabindex="0">
                        <input id="l" type="radio" name="appointmentId" value="l" required>
                        <label for="l"></label>
                        17:50
                    </div>
                </div>
            </div>
        </div>

        <button id="rdv" class="button button-lg disabled mt-10 ml-[50%] translate-x-[-50%]">Prendre Rendez-vous</button>
    </div>

    <div class="overlay hidden" id="overlay">
        <div class="modal">
            <h4>Votre Rendez-vous a été pris</h4>
            <a class="button mt-5" href="{{ path('user_account') }}">Retour à mon compte</a>
        </div>
    </div>
</div>
{% endblock %}

