{% extends 'base.html.twig' %}

{% block title %}Page vet {{ doctor.id }}{% endblock %}

{% block body %}
<div class="section bg-blue-50">
    <div class="container">
        <h2 class="">Here is the page of Dr. id {{ doctor.id }}</h2>
        <p>{{ doctor.userId.firstName }} {{ doctor.userId.lastName | upper }}</p>
        <p>{{ doctor.userId.phone }}</p>
        <img src="{{ doctor.imagePath }}" alt="" class="h-[100px] w-[100px]">
        <p>{{ doctor.address }}</p>
        <p>{{ doctor.clinicName }}</p>
        <ul>
            {% for type in doctor.getAnimalTypes() %}
                <li>
                    {{ type.typeName }}
                </li>
            {% endfor %}
        </ul>

        {% if doctor.isEmergency %}
            <p>Veterinaire de garde ✔️</p>
        {% endif %}
        <p>{{ doctor.cityId.postCode }} - {{ doctor.cityId.cityName }}</p>
        
        <ul>
            {% for service in doctor.getServices() %}
                <li>
                    {{ service.serviceName }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
