{% extends 'base.html.twig' %}

{% block title %}Catalogue veterinaires{% endblock %}

{% block body %}
<div class="section">
    <div class="container">
        <h2 class="text-center">Catalogue veterinaires</h2>

        <div class="doctor-card__wrapper">
            {% for doctor in doctors %}
                <div class="doctor-card">
                    <a href="{{ path('doctor', {'id': doctor.id}) }}">
                        <h4>{{ doctor.userId.firstName }} {{ doctor.userId.lastName }}</h4>
                    </a>
                    <img src="{{ doctor.imagePath }}" alt="">
                    <p>{{ doctor.clinicName }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
