{% extends 'base.html.twig' %}

{% block title %}Catalogue veterinaires{% endblock %}

{% block body %}
<div class="section">
    <div class="container">
        <h2 class="text-center">Catalogue veterinaires</h2>

        <div class="doctor-card__wrapper">
            {% for doctor in doctors %}
                <a class="doctor-card" href="{{ path('doctor', {'id': doctor.id}) }}">
                    <img src="{{ doctor.imagePath }}" alt="">
                    <div class="doctor-card__text">
                        <h4>Dr {{ doctor.userId.firstName }} {{ doctor.userId.lastName | upper }}</h4>
                        <p>{{ doctor.clinicName }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
