{% extends 'base.html.twig' %}

{% block title %}Consultation {% endblock %}

{% block body %}
<div class="section bg-light-grey" id="update_doctor">
    <div class="container">
        <h4 class="mb-3">Consultation de {{ consultation.animalId.name }} ({{ consultation.animalId.typeId.typeName }}) du {{ consultation.date|date('d/m/Y') }}</h4>
        <p class="mb-10">Proprietaire : {{ consultation.animalId.ownerId.userId.firstName }} {{ consultation.animalId.ownerId.userId.lastName }}</p>
        <div class="cols">
            <div class="wrapper consultation-wrapper">
                <h5>Informations générales</h5>
                <p>
                    <strong>Date de consultation :</strong> {{ consultation.date|date('d/m/Y') }}
                </p>
                <p>
                    <strong>Raison :</strong> <br> {{ consultation.reason }}
                </p>
                <p>
                    <strong>Poids :</strong> <br> {{ consultation.animalWeight }} kg
                </p>
                <p>
                    <strong>Prochaine visite prevu le :</strong> <br> {{ consultation.nextVisit ? consultation.nextVisit|date('Y-m-d') : "Pas planifié" }}
                </p>
            </div>
            <div class="wrapper consultation-wrapper">
                <h5>Examen clinique</h5>
                <div class="data-wrapper">
                    <p>
                        <strong>Yeux </strong>
                        <input type="checkbox" disabled {{ consultation.controlEyes == 1 ? 'checked' }}>
                        n
                        <input type="checkbox" disabled {{ consultation.controlEyes == 0 ? 'checked' }}>
                        ac
                        <input type="checkbox" disabled {{ consultation.controlEyes is null ? 'checked' }}>
                        nd
                    </p>
                    <p>
                        <strong>Oreilles </strong>
                        <input type="checkbox" disabled {{ consultation.controlEars == 1 ? 'checked' }}>
                        n
                        <input type="checkbox" disabled {{ consultation.controlEars == 0 ? 'checked' }}>
                        ac
                        <input type="checkbox" disabled {{ consultation.controlEars is null ? 'checked' }}>
                        nd
                    </p>
                    <p>
                        <strong>Peau </strong>
                        <input type="checkbox" disabled {{ consultation.controlSkin == 1 ? 'checked' }}>
                        n
                        <input type="checkbox" disabled {{ consultation.controlSkin == 0 ? 'checked' }}>
                        ac
                        <input type="checkbox" disabled {{ consultation.controlSkin is null ? 'checked' }}>
                        nd
                    </p>
                    <p>
                        <strong>Digestion </strong>
                        <input type="checkbox" disabled {{ consultation.controlDigestion == 1 ? 'checked' }}>
                        n
                        <input type="checkbox" disabled {{ consultation.controlDigestion == 0 ? 'checked' }}>
                        ac
                        <input type="checkbox" disabled {{ consultation.controlDigestion is null ? 'checked' }}>
                        nd
                    </p>
                    <p>
                        <strong>Cœur </strong>
                        <input type="checkbox" disabled {{ consultation.controlHeart == 1 ? 'checked' }}>
                        n
                        <input type="checkbox" disabled {{ consultation.controlHeart == 0 ? 'checked' }}>
                        ac
                        <input type="checkbox" disabled {{ consultation.controlHeart is null ? 'checked' }}>
                        nd
                    </p>
                    <p>
                        <strong>Poumons </strong>
                        <input type="checkbox" disabled {{ consultation.controlLungs == 1 ? 'checked' }}>
                        n
                        <input type="checkbox" disabled {{ consultation.controlLungs == 0 ? 'checked' }}>
                        ac
                        <input type="checkbox" disabled {{ consultation.controlLungs is null ? 'checked' }}>
                        nd
                    </p>
                    <p>
                        <strong>Locomoteur </strong>
                        <input type="checkbox" disabled {{ consultation.controlMovement == 1 ? 'checked' }}>
                        n
                        <input type="checkbox" disabled {{ consultation.controlMovement == 0 ? 'checked' }}>
                        ac
                        <input type="checkbox" disabled {{ consultation.controlMovement is null ? 'checked' }}>
                        nd
                    </p>
                    <p class="mt-4 text-xs mb-0">n : normal ;  ac : à contrôler ; nd : no data</p>
                </div>
            </div>
        </div>
        <div class="consultation-wrapper">
            <h5>Bilan et recommendations</h5>
            
            <p>
                {{ consultation.resume }}
            </p>

            {% if consultation.document %}
                Document: <a href="{{ asset('path/to/documents/' ~ consultation.document) }}">Download</a>
            {% endif %}
            <!-- Display vaccination details if any -->
            {% if consultation.vaccinations|length %}
                Vaccinations:
                <ul>
                    {% for vaccination in consultation.vaccinations %}
                        <li>{{ vaccination.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <a href="{{ path('consultation', {'id': consultation.id}) }}" class="button outline mt-3">Modifier</a>
    </div>


</div>
{% endblock %}
