{% extends 'base.html.twig' %}

{% block title %}Modifier {% endblock %}

{% block body %}
<div class="section bg-light-grey" id="update_doctor">
    <div class="container container-form">
        <div class="flex justify-center mb-10">
            <h3>Modifier informations Dr.{{ app.user.lastName | upper }}</h3>
        </div>
        
        <div class="form-wrapper flex">

            {{ form_start(form) }}

                {{ form_row(form.imagePath) }}
                <div class="two-cols">
                    {{ form_row(form.clinicName) }}
                    {{ form_row(form.address) }}
                </div>                
                <div class="two-cols">
                    {{ form_row(form.cityId) }}
                    {{ form_row(form.isEmergency) }}
                </div>
                <div class="two-cols">
                    {{ form_row(form.speciality) }}
                    {{ form_row(form.consultationPrice) }}
                </div>
                <div class="two-cols">
                    {{ form_row(form.numRpps) }}
                    {{ form_row(form.numAdeli) }}
                </div>
                {{ form_row(form.education) }}
                {{ form_row(form.experience) }}
                <div class="two-cols">
                    {{ form_row(form.sex) }}
                    {{ form_row(form.nameSlug) }}
                </div>
                {{ form_row(form.animalTypes) }}
                {{ form_row(form.services) }}
                <button class="button" type="submit">
                    Sauvegarder
                </button>                

            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
