<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        
        <title>{% block title %}AnimaLife 🐶{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/svg+xml" href="{{ asset('images/favicon.svg') }}">
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#3D606F">
        <!-- iOS specific meta tags -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="apple-mobile-web-app-title" content="AnimaLife">
        <link rel="apple-touch-icon" sizes="180x180" href="/icon-180x180.png">

        <meta name="description"
            content="Animalife est une plateforme qui simplifie la gestion des rendez-vous et des soins pour les animaux de compagnie.">
        <meta property="og:description"
            content="Animalife est une plateforme qui simplifie la gestion des rendez-vous et des soins pour les animaux de compagnie.">
        <meta property="meta:description"
            content="Animalife est une plateforme qui simplifie la gestion des rendez-vous et des soins pour les animaux de compagnie.">
        <meta property="og:image" content="/icon-512x512.png">
        <meta property="og:image:url" content="/icon-512x512.png">
        <meta property="twitter:image" content="/icon-512x512.png">
        <meta name="og:site_name" content="Animalife">
        <meta name="og:url" content="https://animalife.ovh/">

        {% block stylesheets %}
            {# <link rel="stylesheet" href="{{ asset('styles/app.scss') }}"> #}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}

        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js')
                .then(function(registration) {
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);

                    registration.onupdatefound = function() {
                        const installingWorker = registration.installing;
                        installingWorker.onstatechange = function() {
                            if (installingWorker.state === 'installed') {
                                if (navigator.serviceWorker.controller) {
                                    // New update available
                                    showUpdateNotification();
                                }
                            }
                        };
                    };
                })
                .catch(function(error) {
                    console.log('ServiceWorker registration failed: ', error);
                });
            }

            function showUpdateNotification() {
                const updateDiv = document.createElement('div');
                updateDiv.classList.add('update-notification');
                updateDiv.innerHTML = `
                    <p>Une nouvelle version de l'application est disponible.</p>
                    <button class="button" id="reload">Mettre à jour</button>
                `;
                document.body.appendChild(updateDiv);

                document.getElementById('reload').addEventListener('click', function() {
                    window.location.reload();
                });
            }
        </script>
    </body>
</html>