{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<section class="section" id="doctor_account">
    <div class="container">
         <div class="user-header flex justify-between items-center flex-wrap gap-5">
            {% if app.user %}
                <div class="flex items-center gap-3">
                    <img src="{{ doctor.imagePath ? doctor.imagePath : asset('images/placeholder.png') }}" class="profile-img" alt="Photo de Dr.{{ app.user.lastName }} {{ app.user.firstName }}">
                    <h3>Compte de Dr.{{ app.user.lastName | upper }} {{ app.user.firstName }} </h3>
                </div>
                <div class="btn-wrapper flex gap-2">
                    <a href="{{ path('user_edit') }}" class="button outline">Modifier mon compte</a>
                    <a href="/logout" class="button outline">Me deconnecter</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
