{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<section class="section" id="user_account">
    <div class="container">
        <div class="user-header flex justify-between items-center">
            <h3>Bonjour {{ app.user.firstName }} {{ app.user.lastName }} ! </h3>
            {% if app.user %}
                <a href="/logout" class="button outline">Me deconnecter</a>
            {% endif %}
        </div>
        
        <div class="animals-wrapper">
            {% if animals %}
                {% for animal in animals %}
                    <div class="animal-card">
                        <img src="{{ animal.imagePath ? animal.imagePath : asset('images/placeholder_img.jpg') }}" class="h-[100px] w-[100px]" alt="Image de {{ animal.name }}">
                        <div class="animal-card__text">
                            <h3>{{ animal.name }}</h3>
                            <h4>{{ animal.typeName }}</h4>
                            <p>{{ animal.sex == "male" ? "Mâle" : "Femelle" }}</p>
                            <p>Né le : {{ animal.dateBirth ? animal.dateBirth : "Pas renseigné" }}</p>
                            <p>{{ animal.isSterilized ? "Stérilisé" : "Pas stérélisé" }}</p>

                            {% if animal.allergy != null %}
                                <p>Allérgique à : {{ animal.allergy }}</p>
                            {% else %}
                                <p>Pas d'allérgies connues</p>
                            {% endif %}
                        </div>
                        <div class="btn-wrapper">
                            <a href="" class="button">
                                Voir l'historique
                            </a>
                            <a href="" class="button outline">
                                Modifier
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Aucun animal enregistré</h3>
            {% endif %}
        </div>
        
        <a href="" class="button">Ajouter un animal</a>
    </div>
</section>
{% endblock %}
